<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"><!--estandar de caracteres que se va a utlizar (ñ ch tildes o carateres especiales )   -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Compatible con que navegadores   -->
    <meta name="viewport" content="width= , initial-scale=1.0"><!--acncho del dispositivo donde se puede visualizar la pag.  -->
    <title><%=title %></title><!--El titulo de la pagina  -->
<!--espacio para herramientas o plugins necesarios para esta pag   -->
    <!-- BOOTSS 4 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- estilo google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    
    <!-- CUstom CSS PErsonalizado -->
    <link rel="stylesheet" href="/CSS/Home.css"><!--Incluyo el arhivo css Home tipo de archivo stylesheet href ruta de archivo -->
<!-- Animaciones -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style> 
        body {
        font-family: 'Spicy Rice',cursive;
    }
    </style>
</head>

<body> <!--Aqui van los componentes de la Pg  -->
    <div class="Containerh1 text-left  text-white " id="encabezado">
        <h1 class="TituloEnca "> Nos encontramos a tu servicio 24/7. Contactanos al <i class="fas fa-phone"></i> 068-0000000 <i class="fab fa-whatsapp" id="Wpp"></i> 300-0000-000. Buscanos tambien en <i class="fab fa-facebook "id="Face"></i>  <i class="fab fa-twitter "id="Twit"></i> y <i class="fab fa-instagram"id="Inst"></i></h1  >
            
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" id="selector">
        <div class="container">
            <a class="navbar-brand" href="/ComunicacionesRSA"><img id="Logo" src="/Img/Logo3.1.png">  Comunicaciones RSA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Index"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="" href="/ChatBot"><i class="fab fa-telegram"></i> Chat Bot</a>
                    </li>
                </ul>
                <span class="navbar-text " aria-current="">
                    <i class="fas fa-user-ninja assistive-listening-systems"></i> Bienvenido a nuestra Empresa de Comunicaciones a tu Servicio
                </span>
            </div>
        </div>
    </nav>

    <h3 class="titulo text-center text-white"> Comunicaciones RSA 2021 </h3>
    
<!-- imagen desplazar Diapositvas y texto -->
<div class="ContainerMenuIMa" id="MenuIMa">
        
    <div class="text-center " id="TextoDere">
        <h3 class="text-primary">¿Quienes Somos?</h3>
                <p class="text-white">
                    Somos una compañía de servicio y Soporte Tecnico, con crecimiento en calidad, innovación, excelencia y desarrollo humano de nuestros clientes, colaboradores, proveedores y socios. Consolidamos nuestro prestigio como una empresa líder en el mercado de las telecomunicaciones, siendo manifestado por la alta demanda de nuestros servicios.
                    Brindamos soluciones de telecomunicaciones y conectividad que permita el fomento del crecimiento de su empresa o de su Hogar con un alto compromiso de calidad funcional, donde nuestro pilar es el servicio hacia nuestros clientes.
                    Bienvenido a Comunicaciones RSA.
                </p>  
                <h3 class="text-primary">¿Que Hacemos?</h3>
                <p class="text-white">
                    Comunicaciones RSA es una empresa de encargada de brindar acceso alambrico e inalambrico a su empresa o a su hogar, encargados de implementar la esctrucra para grandes proyectos, Comunicacioens RSA no solo se encarga de implementacionses tambien prestamos soporte a nuestros Clientes de manera reomota.
                </p>  
    </div>
    
<figure class="figure">
    <div class="container3">
        <div class="row1">
            <div class="col-sm-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img src="/Img/DiseñoWeb1.jpg" class="d-block w-100" alt="bootstrap" width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black ">
                                <h5>Diseño Web</h5>
                                <p id="MensajeDia">Prueba hoy mismo el mejor diseño para paginas web. ¡Comunícate con nosotros!</p>
                            </div>  
                        </div>
                        <div class="carousel-item">
                            <img src="/Img/Soporte.jpg" class="d-block w-100" alt="..." width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black">
                                <h5>Soporte Tecnico</h5>
                                <p id="MensajeDia">Garantizamos la operación de los sistemas información de forma rápida, oportuna y precisa. .</p>
                            </div>  
                        </div>
                        <div class="carousel-item carousel-item-left">
                            <img src="/Img/Seguridad.jpg" class="d-block w-100" alt="..." width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black">
                                <h5>Seguridad Informatica</h5>
                                <p id="MensajeDia">Aumenta la protección de tu organización con una arquitectura de seguridad consolidada.</p>
                            </div>    
                        </div>
                        <div class="carousel-item carousel-item-left">
                            <img src="/Img/ChatBot.jpg" class="d-block w-100" alt="..." width="620px" height="450px">
                            <div class="carousel-caption d-none d-md-block text-black">
                                <h5>Ofertas</h5>
                                <p id="MensajeDia">Aprovehca las ofertas que estamos dando a nuestros primeros 50 clientes, ven y conversa con nuestro bot, un aliado a  tu alcance.</p>
                            </div>    
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"  data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"  data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
<figcaption class="PieImagenes text-info">Fig.1. Algunas de nuestras Funciones.</figcaption>
</figure>

</div> 

    <!-- Section Abajo 2 cuadros-->
    <div class="container-fliuid "id="Abajo"  >
        <div class="row bg-warning text-black p-2 " >
            <div class="col " id="primercuadro">
                <div class="col text-center"> 
                    <h3>Comunicaciones RSA</h3>
                    <p>
                        Empresa lider en soporte tecnico a nivel boyaca estamos ubicados en kr 35 #21-5 sur  
                    </p>
                </div>
                <div >
                    <li>                    
                        <a class="nav-link active " id="IngresarWpp" aria-current="" href="/ChatBot"><i class="fab fa-telegram fa-2x" id="IngresarWpp"></i> Escribenos (Ingresa aqui!)</a>
                    </li>
                </div>
            </div>
            <div class="col text-center"> 
                <h3>Comunicaciones RSA</h3>
                <p>
                    Contactacnos y danos el gusto de trabajar juntos, para nuestros primeros 50 clientes 50% descuento y reclama gratis 1 soporte tecnico.
                    ven y aprovecha!.... (Oferta por tiempo limitado).   
                </p>
            </div>
            
        </div>
    </div>
   <!-- JAVASCRIPT CDNS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

<footer >
    <div class="Containerpie text-center text-white " id="PiedePag">
        <h1 class="CopyPiedePag"> Copyright © 2021 Comunicaciones RSA </h1  >
    </div>
</footer>
</html>